<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi, <%= @user.first_name %></h1>
        <p>Your login email is: <%= @user.email %></p>
        <p>The Car Plate Number: <%= @vehicle.PlateNumber %> Reservation Successful.</p>
        <p>Pick car From city: <%= @vehicle.city %> </p>
        <p>Contact: <%= @vehicle.mobile %> ) for more info</p>
        <h4>Car is waiting for you</h4>
        <p>Thanks for joining and have a great day!</p>
    </body>
</html>