<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi, <%= @user.first_name %></h1>
        <p>Your login email is: <%= @user.email %></p>
        <p>The Car (Plate Number: <%= @vehicle.PlateNumber %>) was successfully returned.</p>
        <p>Pick car From (City: <%= @vehicle.city %> </p>
        <p>Bill : <%= @rent %> </p>
        <p>Thanks for joining and have a great day!</p>
    </body>
</html>