
<% if has_role? :admin %>
  <div class="container">
    <table>
      <tr>
        <th class="text-center">Email</th>
      </tr>
    <% @users.each do |user| %>
    <div class="card bg-light text-dark">
      <div class="card-body">
        <% if user.profile_avatar.attached? %>
        <image src="<%=(url_for(user.profile_avatar))%>" height="80px" width="80px">
      <% else %>
      <image src="#" height="80px" width="80px">
      <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= "#{user.first_name} #{user.first_name}," %>
      <%= link_to " #{user.email}", user, class:"btn btn-light btn-md" %> 
      <%= " #{user.mobile} " %> 
      <%= link_to "Edit", edit_user_path(user), class:"btn btn-primary btn-md float-right" %>

      </div>
    </div>
    <% end %>
  </table>
  </div>
<%end%>