




<h5>  Email : <%= @user.email %>  </h5>
<h5>  Name : <%= @user.first_name %><%= @user.last_name %></h5>
<h5>  City : <%= @user.city %>  </h5>
<h5>  Mobile : <%= @user.mobile %>  </h5>

<%= link_to "Back", users_path, class:"btn btn-primary btn-md" %>
