<%= form_for @reservation, url: {action: "cancel"}, method: :post do |form| %>
  <div class="card border-dark mb-4" style="max-width: 30rem;">
    <div class="card-header"><%= Vehicle.find(@reservation.vehicle_id).style %></div>
    <div class="card-body text-dark">
      <h5 class="card-title"><%= form.label "Car plate number: " %>
        <%= Vehicle.find(@reservation.vehicle_id).PlateNumber %><br></h5>
      <p class="card-text">
        <%= form.label "User id and name: " %>
        <% user = User.find(@reservation.user_id) %>
        <%= "#{user.id} - #{user.first_name}" %><br>
              
        <%= form.label "Check out time:" %><br>
        <%= @reservation.checkouttime %><br>

        <%= form.label "Expected return time:" %> <br>
        <%= @reservation.expectedreturntime %><br>

        <%= form.submit "Cancel Reservation", class: "btn btn-danger", data: { confirm: 'Cancel this reservation?' }%><br>
      </p>
    </div>
  </div>
<% end %>




  
  
