<div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-8">
  <% @reservation.each do |re| %>
    <% if has_role?(:admin) %>
      <div class="col">
        <div class="card h-100">
          <% if im(re).car_avatar.attached? %>
            <image src="<%=(url_for(im(re).car_avatar))%>" width="250px;">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= "Style: #{style(re)} " %></h5>
            <p class="card-text">
                <%= "Status: #{re.reservationstatus}" %><br>
                <%= "Car Owner: #{car_owner(re)} " %><br>
                <%= "PlateNumber: #{plat_no(re)} " %>
            </p>
          </div>
          <% if re.reservationstatus=="Complete" %>
            <b class="btn btn-success btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
          <% end %>
          <% if re.reservationstatus=="Reserved" %>
            <b class="btn btn-info btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
          <% end %>
          <% if re.reservationstatus=="Cancel" %>
            <b class="btn btn-danger btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
          <% end %>
        </div>
      </div>
    <% elsif has_role?(:owner) %>
      <% if owner_per(re) %>
        <div class="col">
          <div class="card h-100">
            <% if im(re).car_avatar.attached? %>
              <image src="<%=(url_for(im(re).car_avatar))%>" width="250px;">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= "Style: #{style(re)} " %></h5>
              <p class="card-text">
                <%= "Status: #{re.reservationstatus}" %><br>
                <%= "Car Owner: #{car_owner(re)} " %><br>
                <%= "PlateNumber: #{plat_no(re)} " %>
              </p>
            </div>
            <% if re.reservationstatus=="Complete" %>
              <b class="btn btn-success btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
            <% end %>
            <% if re.reservationstatus=="Reserved" %>
              <b class="btn btn-info btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
            <% end %>
            <% if re.reservationstatus=="Cancel" %>
              <b class="btn btn-danger btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if re.user_id==current_user.id %>
        <div class="col">
          <div class="card h-100">
            <% if im(re).car_avatar.attached? %>
              <image src="<%=(url_for(im(re).car_avatar))%>" width="250px;">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= "Style: #{style(re)} " %></h5>
              <p class="card-text">
                <%= "Status: #{re.reservationstatus}" %><br>
                <%= "Car Owner: #{car_owner(re)} " %><br>
                <%= "PlateNumber: #{plat_no(re)} " %>
              </p>
            </div>
            <% if re.reservationstatus=="Complete" %>
              <b class="btn btn-success btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
            <% end %>
            <% if re.reservationstatus=="Reserved" %>
              <b class="btn btn-info btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
            <% end %>
            <% if re.reservationstatus=="Cancel" %>
              <b class="btn btn-danger btn-md float-right"><%= link_to re.reservationstatus, reservation_path(re.id), style:"color:white;" %></b>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
