<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @vehicle.each do |vehicle| %>
    <% if showvehicles(vehicle) %> 
      <div class="col">
        <div class="card h-100">
          <% if vehicle.car_avatar.attached? %>
          <image src="<%=(url_for(vehicle.car_avatar))%>">
            <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= vehicle.style %> | <%= vehicle.manufacturer %></h5>
            <p class="card-text">
              <%= vehicle.PlateNumber %> <br> <%= vehicle.city %> <br> <%= vehicle.state %>
            </p>
          </div>
          <b class="btn btn-primary btn-md float-right"><%= link_to vehicle.status, user_vehicle_path(current_user.id, vehicle.id), style:"color:white;" %></b>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


