<center>
  <div id="formContent">
    <center>
      <h2>Car Details</h2> 
      <br>
      <table>
        <tr>
          <th>Model</th>
          <td><%= @vehicle.model %></td>      
        </tr>
        <tr>
          <th>license</th>
          <td><%= @vehicle.license %></td>
        </tr>
        <tr>
          <th>PlateNumber</th>
          <td><%= @vehicle.PlateNumber %></td>      
        </tr>
        <tr>
          <th>manufacturer</th>
          <td><%= @vehicle.manufacturer %></td>
        </tr>
        <tr>
          <th>style</th>
          <td><%= @vehicle.style %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><%= @vehicle.status %></td>
        </tr>
        <tr>
          <th>Hourly Rent Rate</th>
          <td><%= '$%.2f per hour' % @vehicle.hourlyRentalRate %></td>
        </tr>
        <tr>
          <th>City</th>
          <td><%= @vehicle.city %></td>
        </tr>
        <tr>
          <th>State</th>
          <td><%= @vehicle.state %></td>
        </tr>
        <tr>
          <th>Country</th>
          <td><%= @vehicle.country %></td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td><%= @vehicle.mobile %></td>
        </tr>
      </table>
      <br>
<<<<<<< HEAD


      <% if button_per(@vehicle) %>
          <%= link_to 'Edit', edit_user_vehicle_path(current_user.id, @vehicle), class:"btn btn-primary btn-md" %> 
          <%= link_to "Delete", user_vehicle_path(@vehicle), method: :delete, data: { confirm: "Delete this vehicle?" }, class:" btn btn-danger btn-md" %> 
      <% else %>
        <%= link_to 'Reserve', new_reservation_path(:vehicle_id => @vehicle.id) %>
=======
      <% if has_role?(:owner) && (current_user.id == @vehicle.user_id) %>
          <%= link_to 'Edit', edit_vehicle_path(@vehicle), class:"btn btn-primary btn-md" %> 
          <%= link_to "Delete", @vehicle, method: :delete, data: { confirm: "Delete this vehicle?" }, class:" btn btn-danger btn-md" %> 
      <% elsif has_role?(:admin) %>
        <%= link_to 'Edit', edit_vehicle_path(@vehicle), class:"btn btn-primary btn-md" %> 
        <%= link_to "Delete", @vehicle, method: :delete, data: { confirm: "Delete this vehicle?" }, class:" btn btn-danger btn-md" %> 
      <% else %>
        <%= link_to 'Reserve', reservations_path, class:"btn btn-success btn-md" %>&nbsp;&nbsp;
>>>>>>> 23f30da243944c32ee40375d4f5ac27e0ee52e96
      <% end %>
      <%= link_to 'Back', :back, class:"btn btn-info btn-md"%>
      <br><br><br>
    </center>
  </div>
</center>
