<center>
  <div id="formContent">
      <% if @vehicle.video_avatar.attached? %>
        <%= video_tag (url_for(@vehicle.video_avatar)), :size => "400x260", :controls => true %>
      <% else %>
        <image src="<%=(url_for(@vehicle.car_avatar))%>" height="100%" width="350px">
      <% end %>

    <center>
      <h2>Car Details</h2> 
      <br>
      <table>
        <tr>
          <th>Model</th>
          <td><%= @vehicle.model %></td>      
        </tr>
        <tr>
          <th>license</th>
          <td><%= @vehicle.license %></td>
        </tr>
        <tr>
          <th>PlateNumber</th>
          <td><%= @vehicle.PlateNumber %></td>      
        </tr>
        <tr>
          <th>manufacturer</th>
          <td><%= @vehicle.manufacturer %></td>
        </tr>
        <tr>
          <th>style</th>
          <td><%= @vehicle.style %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><%= @vehicle.status %></td>
        </tr>
        <tr>
          <th>Hourly Rent Rate</th>
          <td><%= '$%.2f per hour' % @vehicle.hourlyRentalRate %></td>
        </tr>
        <tr>
          <th>City</th>
          <td><%= @vehicle.city %></td>
        </tr>
        <tr>
          <th>State</th>
          <td><%= @vehicle.state %></td>
        </tr>
        <tr>
          <th>Country</th>
          <td><%= @vehicle.country %></td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td><%= @vehicle.mobile %></td>
        </tr>
      </table>
      <br>


      <% if button_per %>
      <%= link_to 'Reserve', user_vehicle_reserves_path(:vehicle_id => @vehicle.id), class:"btn btn-warning btn-md" %></td>
        <%= link_to 'Edit', edit_user_vehicle_path(current_user.id, @vehicle), class:"btn btn-primary btn-md" %> 
        <%= link_to "Delete", user_vehicle_path(@vehicle), method: :delete, data: { confirm: "Delete this vehicle?" }, class:" btn btn-danger btn-md" %> 
      <% else %>
        <%= link_to 'Reserve', new_reservation_path(:vehicle_id => @vehicle.id), class:"btn btn-info btn-md" %>
      <% end %>
      <%= link_to 'Back', :back, class:"btn btn-info btn-md"%>
      <br><br><br>
    </center>
  </div>
</center>
